* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 1rem;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  min-height: 100vh;
}

.main-header {
  display: flex;
  align-items: center;
  border-bottom: rgb(180, 180, 180) 3px solid;
  padding-bottom: 1rem;
}

.main-header img {
  max-height: 4rem;
}

.main-header h3 {
  font-size: 2.5rem;
}

@media screen and (min-width: 700px) {
  .main-header h3 {
    font-size: 2.5em;
    /* color: red; */
  }
}

.img-card {
  margin: 1rem auto;
  border: #ff3939 solid 5px;
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 800px;
  background-color: #fff;
}

.img-container p {
  font-size: 1.35rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 1rem 0;
}
.img-container * {
  margin: 0.5rem auto;
}
.img-title {
  font-size: 4rem;
}
.nasa-img {
  width: 100%;
  height: auto;
}
